.all-about-me-container {
  background-color: #F4FBFF;
  padding: 20px;
  border-radius: 100px;
  font-family: Arial, sans-serif;
  max-width: 800px;
  align-items: center;
  justify-content: center;
  border-color: var(--text-color7);
  border-style: solid;
  border-width: 2px;
}

.all-about-me-container h1 {
  text-align: center;
  color: var(--btn-color4);
  margin-bottom: 20px;
  font-family: 'Margarine', cursive;
  font-weight: 90;
  font-size: 56px;
}

.section {
  margin-bottom: 20px;
}

.hobbies {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hobbies .input-section {
  flex: 1;
  margin: 0 10px;
  background-color: #FFFFFF;
  border-radius: 50px;
  width: 310px;
  height: 379px;
  border: 2px solid #000000;
  align-items: center;
  padding: 10px;
}

.hobbies .input-section h2 {
  text-align: center;
  color: var(--text-color7);
  margin-bottom: 10px;
  font-family: 'Margarine', cursive;
  font-weight: 90;
  margin-top: 15px;
}

.hobbies .input-section textarea {
  width: 100%;
  height: 250px;
  background: repeating-linear-gradient(transparent, transparent 24px, #d4b4b4 24px, #ceb1b1 25px);
  outline: none;
  resize: vertical;
  font-family: Arial, sans-serif;
  border: none; 
  margin-top: 8px;

}

.hobbies .doodle-icon {
  width: 224.97px;
  height: 225.44px;
  margin-right: 20px;
  border-radius: 32px;
  transform: rotate(-15deg);
}

.personal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.personal-info .input-section {
  padding: 0;
  margin-bottom: 20px;
  border: none;
  background: none;
  width: 100%;
}

.personal-info .input-section div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
}

.personal-info .input-section .name {
  background-color: #fce4ec;
}

.personal-info .input-section .age {
  background-color: #e6f0fa;
}

.personal-info .input-section .address {
  background-color: #fce4ec;
}

.personal-info .input-section label {
  width: 60px;
  color: #9b59b6;
  margin-right: 10px;
  text-align: right;
}

.personal-info .input-section textarea {
  width: 200px;
  height: 60px;
  background: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  flex: 1;
  resize: vertical;
  font-family: Arial, sans-serif;
}

.fun-likes-favorites {
  display: flex;
  justify-content: space-between;
}

.left-sections {
  flex: 1;
}

.fun-facts, .likes {
  display: flex;
  align-items: center;
}

.favorites {
  display: flex;
  align-items: center;
  flex: 1;
}

.favorites .input-section {
  flex: 1;
}

.labeled-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.labeled-input label {
  width: 60px;
  color: #9b59b6;
  margin-right: 10px;
}

.labeled-input input {
  flex: 1;
  background-color: #fce4ec;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
}

.input-section h2 {
  color: #9b59b6;
  margin-bottom: 10px;
}

.input-section input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.doodle-icon {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.future {
  flex-direction: row-reverse;
}

.future .doodle-icon {
  margin-left: 20px;
  margin-right: 0;
}